
body {
    width: 100%;
    height:100%;
    font: var(--font-size)/var(--lineheight) var(--font);
    padding: 0px;
    margin: 0px;
}

/* .grid-container { */
/*     display: grid; */
/*     grid-template-areas: */
/*         "content" */
/*         "footer"; /\* <! -- optional --> *\/ */
/*     grid-template-columns: 1fr; */
/*     grid-auto-rows: minmax(640px, auto) 1fr; */

/* } */

main {
  height: 80%;
}

header {
    background: var(--primary-red);
    box-shadow: var(--neutral-dark-grey) 0px -0.4rem 0.9rem 0.2rem;
    margin: 0 auto;
    width: 100vw;
    flex: 3rem;
    font-family: Monospace !important;
    -webkit-text-stroke: 0.2px !important;
    text-stroke: 0.2px !important;
}

.flex-container {
    display: flex;
}

.row {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between
}

.column {
  flex-direction: column;
  align-items: center;
  justify-content: center;

}



footer {
    grid-area: footer;
}

h1 {
    color: white;
		text-transform: uppercase;
		font-size: 1rem;
    font-family: bold;
		font-weight: 100;
}

@media (min-width: 780px) {
  h1{
    font-size: 1.25rem;
  }

  .left {
    padding-left: 4vh;
  }

  .right {
    padding-right: 4vh;
  }

}
